@import "/src/style/variables";

.pagination {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px 20px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

	&__next,
	&__prev {
		color: $white;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px 0 0;
		display: flex;
		align-items: center;

		a {
			color: $white;
			text-decoration: none;
			display: flex;

			&.current,
			&:hover {
				font-weight: bold;
			}
		}
	}
}