@import "/src/style/variables";

.notification {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&.error {
		background: inherit;
		display: flex;

		span {
			color: $red;
		}
	}

	span {
		font-size: 4rem;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
	}
}