.location {
	h2 {
		text-transform: uppercase;
	}
	
	p {
		margin-top: 16px;

		&:first-child {
			margin-top: 0;
		}

		span:first-child {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}