@import "/src/style/variables";

.cta {
	display: inline-block;
	background: $green;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid $green;
	padding: 6px 12px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1rem;
	border-radius: 2px;
	transition: all .15s ease-in-out;
	text-decoration: none;
	color: $black;
	text-transform: uppercase;

	&:hover {
		border-color: $black;
	}
}