// COLORS
$white: white;
$black: black;
$darkBlue: #02afc5;
$lightBlue: #a9f3fd;
$brown: #44281d;
$orange: #e4a788;
$yellow: #f0e14a;
$green: #97ce4c;
$pink: #e89ac7;
$red: #f07e96;

// FONTS
$font-primary: 'Roboto Mono', monospace;

//VIEWPORTS
$sm: 576px;
$md: 768px;
$l: 992px;
$xl: 1200px;